.footerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0;

  a {
    font-size: 0.875rem;
  }

  h3 {
    font-weight: bold;
    color: var(--gray-darkest);
  }

  .footerSubtitle {
    margin-top: 0.938rem;
    font-weight: bold;
    color: var(--gray-darkest);
  }

  @media only screen and (min-width: 480px){
    align-items: center;
    padding: 2rem;

    a {
      font-size: 1rem;
    }

    .positionContent {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    .footerSubtitle {
      margin: 0.938rem 0;
    }
  }
}
